$dominant-color: #8b98a9;
$light-dominant-color: #bbc4c9;
$light-gray: #dddddd;
$dark-gray: #2e3238;
$pale-silver: #c4bab1;

// 字體大小可參考此貼文
// https://www.instagram.com/p/CMeSk72jEW0/
$main-title: 42px;
$title: 24px;
$subtitle: 18px;
$body-text: 16px;
$details: 14px;

%allFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
