@import "@/assets/scss/_selfVariables"; // 自定義變數

footer {
    width: 100%;
    padding: 8px 0;
    background-color: $dark-gray;
    color: $light-gray;
    font-size: $body-text;

    // 可透過此寫法改變顏色透明度
    // background-color: rgba($color: $dark-gray, $alpha: 0.7);
}
