@import "@/assets/scss/_selfVariables"; // 自定義變數

.wholeView {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1546062150-e1b6c6a63fa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1040&q=80");
  background-size: cover;
}
@media (min-width: 576px) {
  .wholeView {
    height: calc(100vh - 60px);
  }
}
