@import "@/assets/scss/_selfVariables"; // 自定義變數

.singleRoomArea {
    max-width: 100%;
    height: 100vh;
    padding: 15px 0;

    > div {
        height: calc(100vh - 30px);
        background-position: center center;
        // background-size: contain;
        background-size: cover;
    }

    .filter {
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        // height: 100%;
        height: calc(100vh - 30px);
        position: absolute;
        z-index: 0;
    }

    .singleRoomInfo {
        position: absolute;
        z-index: 5;
        color: #000;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
